@import "./sass/bootstrap";
@import "./sass/header";
@import "./sass/stickywall";



#root {
    min-height: 100vh;
    display: flex;
    // flex-direction: row;
    color: #191717;
}



.login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 0;
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading {
    font-size: 40px;
    font-weight: 700;
}